<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>

	<add key="CloudDrive.Core.ConfigurationFolder" value="..\var\"/>
    <add key="CloudDrive.Service.SkyDrive.ApplicationId" value="" />
    <add key="CloudDrive.Service.SkyDrive.ApplicationSecret" value="" />
	<add key="CloudDrive.Service.SkyDrive.LiveLoginCallbackUrl" value="https://login.live.com/oauth20_desktop.srf" />
	<add key="CloudDrive.Service.SkyDrive.LiveBaseUrl" value="https://apis.live.net/v5.0/" />
	
  </appSettings>
</configuration>
